@import '../../../styles/vars';

.inputSearch {
    background-color: #1f1f1f;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid $mainBlack;
    height: 2.5rem;
    width: 400px;
    font-size: 1rem;
    outline: none;
    color: #fff;
    transition: background-color 1s ease-out;

    &:hover {
        border: 1px solid #fff;
        background-color: #333;
    }
}
